/* ---------- GLOBAL ---------- */

.root {
    -fx-font-family: "Arial";
}

/* ---------- TITLES ---------- */

.title {
    -fx-font-size: 90px;
    -fx-font-family: "Jokerman";
    -fx-font-weight: bold;
}

.winner-title {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
}

.round-summary-title {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
}

.pre-game-title {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
}

.pre-game-trump {
    -fx-font-size: 23px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/* ---------- BUTTONS ---------- */

.load {
    -fx-background-color: #1f7a1f;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

}

.button {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-size: 400% 450%;
    -fx-text-fill: black;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.card-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
}

.card-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

    /* Holographic Gradient */
    -fx-background-color: linear-gradient(
        from 0% 0% to 70% 70%,
        #00ffff26,
        #ff00ff26,
        #00ffff26
    );

    /* Holographic Glow */
    -fx-effect: dropshadow(
        gaussian,
        #00ffff99,
        20,
        0.6,
        0,
        0
    );

}

/* ---------- LABELS ---------- */


.text-label {
    -fx-font-size: 18px;
}
.trump-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.card-label {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-padding: 2 4 2 4;
    -fx-background-radius: 4;
}

/* ---------- LAYOUT HELPERS ---------- */

.game-background {
     -fx-background-color: #d5e4f9;
}

.center-row {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.player-info {
    -fx-spacing: 5;
    -fx-font-size: 18px;
}

.summary-box {
    -fx-spacing: 2;
}

/* ---------- BACKGROUNDS ---------- */

.stats-background {
    -fx-background-image: url("/cards/auswertung.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.start-background {
    -fx-background-image: url("/cards/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.prediction-scene {
    -fx-background-image: url("/cards/prediction-scene-background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.start-scene {
    -fx-background-image: url("/cards/start-scene-background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.player-count-scene {
    -fx-background-image: url("/cards/player-count-scene-background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.playing-scene {
    -fx-background-image: url("/cards/playing-scene-background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}