name: Scala CI

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Scala
        uses: coursier/setup-action@v1
        with:
          apps: sbt

      - name: Coverage
        run: sbt coverage test coverageReport coverageAggregate

      - name: Upload Coveralls
        run: sbt coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
